importFrom("doParallel", "registerDoParallel")
importFrom("foreach", "foreach", "%do%", "%dopar%")
importFrom("parallel", "makeCluster", "stopCluster", "detectCores")
importFrom("tools", "file_path_as_absolute")
importFrom("utils", "read.table", "write.table", "installed.packages")
exportPattern("apt.cytoscan.process", "apt.cytoscan.process.batch")
